body {
  background-color: #232f3e;
  color: #fff;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: left;
  width: auto; 
  flex-grow: 1; 
}

h1 {
  text-align: center;
  color: #FF9900;
  margin-top: 20px;
}

h2 {
  margin: 20px 0;
  color: #FF9900;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
}

.search-bar input[type="text"] {
  flex-grow: 1;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  font-weight: bold;
}

.search-bar button {
  padding: 15px 25px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #FF9900;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar form {
  display: flex;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.search-bar form:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.search-bar button:hover {
  background-color: #1f262d;
}

.user-info {
  margin-left: 0; 
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
}


.user-info h3, .logout-button {
  display: inline-block;
  margin-left: 5px !important;
}

.user-info h3 {
  margin-right: 20px;
  display: inline-block;
}

.user-info a {
  color: #FF9900;
  text-decoration: none;
}

.product-item {
  display: flex;
  align-items: center;
  background-color: #1f262d;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 5px;
}

.product-item a {
  color: #fff;
  text-decoration: none;
}

.product-item a:hover {
  color: #FF9900;
}

.product-item .price {
  color: #0af416;
  margin-top: 10px;
}

.product-item .btn {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #FF9900;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-item .btn:hover {
  background-color: #1f262d;
}

.logout-button {
  padding: 5px 20px !important;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: #FF9900;
  color: #ffffff !important; 
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.logout-button:hover {
  background-color: #1f262d;
  color: #fff !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
