body {
  background-color: #232f3e;
  color: #fff;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #FF9900;
  margin-top: 20px;
}

h2 {
  margin: 20px 0;
  color: #FF9900;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF9900;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.user-info h3 {
  margin-right: 20px;
}

.user-info a {
  color: #FF9900;
  text-decoration: none;
}

.product-item {
  display: flex;
  align-items: center;
  background-color: #1f262d;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.product-item a {
  color: #fff;
  text-decoration: none;
}

.product-item a:hover {
  color: #FF9900;
}

.product-item .price {
  color: #0af416;
  margin-top: 10px;
}

.product-item .btn {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #FF9900;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-item .btn:hover {
  background-color: #1f262d;
}
