body{
    background-color: #00008B; /* Dark blue */
    color: #fff; /* White */
}

.custom-title {
    color: #FF9900; /* Amazon orange */
}

.custom-container {
    background-color: #1a1a2e; /* Slightly lighter dark blue for contrast */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Some padding */
}

.custom-table {
    color: #fff; /* White text for the table */
}

.custom-text-warning {
    color: #FF9900 !important; /* Amazon orange */
}

.custom-home-btn {
    background-color: #FF9900; /* Amazon orange */
    color: #000; /* Black text */
}

.custom-home-btn:hover {
    background-color: #cc7a00; /* Darker orange on hover */
}

.custom-link, .custom-text-light {
    color: #FF9900; /* Amazon orange */
}

.custom-link:hover, .custom-text-light:hover {
    color: #cc7a00; /* Darker orange on hover */
}

.custom-btn-light {
    border-color: #FF9900; /* Amazon orange */
    color: #FF9900; /* Amazon orange */
}

.custom-btn-light:hover {
    background-color: #FF9900; /* Amazon orange */
    color: #000; /* Black text */
}

.custom-img {
    border-radius: 15px; /* Rounded corners for the images */
}