body {
  background-color: #232f3e;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.title {
  font-size: 30px;
  color: #FF9900;
  margin-top: 20px;
}

h1.title span {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 10px;
}

h1 {
  color: #FF9900;
  font-size: 20px;
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #FF9900;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-btn:hover {
  background-color: #e68a00;
  transform: scale(1.05);
}

#customers {
  width: 90%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #2c394b;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

#customers td, #customers th {
  border: none;
  padding: 15px;
  text-align: center;
}

#customers tr:nth-child(even) {
  background-color: #364856;
}

#customers tr:hover {
  background-color: #293744;
}

#customers th {
  background-color: #FF9900;
  color: white;
  text-align: center;
  padding: 20px;
}

td a {
  color: #fff;
  text-decoration: none;
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.like-btn svg {
  fill: #767676;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.like-btn:hover svg {
  transform: scale(1.2);
}

.like-btn:active {
  animation: moveOutwards 0.3s forwards;
}

.like-btn.active svg {
  fill: #ec3e3e;
}

@keyframes moveOutwards {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.2);
  }
}
