body {
    background-color: #232f3e;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.table {
    margin-top: 2rem;
}

.table th {
    color: #FF9900;
}

.table td a {
    color: #fff;
    text-decoration: none;
}

.home-btn {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: #FF9900;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #e68a00;
}

.btn-light {
    color: #767676;
    transition: color 0.3s ease;
}

.btn-light:hover {
    color: #ec3e3e;
}

.img-fluid {
    max-width: 225px;
}
