<!DOCTYPE html>
<html>
    <head>
    <!-- Setting the title of the webpage -->
    <title>Amazon Price Tracker</title>
    <!-- Setting the character encoding for the webpage -->
    <meta charset="UTF-8">
    <!-- Setting the viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Officina+Sans:700&display=swap" rel="stylesheet">
    <!-- Linking the CSS file -->
    <link rel="stylesheet" href="static/homepageCSS.css">
    <!-- Inline CSS for styling -->
    </head>

    <body>
        <div class="container">
            <!-- Main heading of the webpage -->
            <div class="header">
              <h1 class="title">Amazon <span style="color: #FF9900;">Price Tracker</span></h1>
              <!-- User information section -->
              <div class="user-info">
                  <!-- Displaying the user name -->
                  <h3>{{ username }}</h3>
                  <!-- Logout button -->
                  <a href="/logout" class="logout-button">Log Out</a>
              </div>
            </div>
            <!-- Search bar -->
            <div class="search-bar">
                <form action="/search" class="search-form">
                    <input type="text" placeholder="Search..." name="search">
                    <button type="submit">Search</button>
                </form>
            </div>
            <h2>Your Favorites</h2>
            {% for row in rows %}
                <div class="product-item">
                    <img src="{{ row.product_image_url }}">
                    <div>
                        <a href="{{ row.product_link }}">{{ row.product_name }}</a>
                        <p class="price">£{{ row.product_price }} ({{ row.price_date }})</p>
                        <a href="{{ url_for('delete_fav', id=row.id) }}" class="btn">DELETE</a>
                        <a href="{{ url_for('get_stats', id=row.id )}}" class="btn">STATS</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
