<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- This defines the character set for the document. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- This is for responsive design, to ensure proper rendering on different devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
</head>
<body>

    <canvas id="myFirstChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"></script>
    <script>

const ctx = document.getElementById('myFirstChart');

new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [{
      label: '# of Votes',
      data: [12, 19, 3, 5, 2, 3],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

    </script>
</body>
</html>
