<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
</head>
<body>
  
  <canvas id="myFirstChart"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  <script>
 
const ctx = document.getElementById("myFirstChart").getContext("2d");
const myChart = new Chart(ctx, {
  type: "line",
  data: {
    labels: ['Red', 'Blue'],
    datasets: [{
      label: 'Price',
      data: [data,],
      borderColor: [
        'rgba(255, 99, 132, 1)',
      ],
      tension: 0.1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

</script>
</body>
</html>

